<section class='aside-front-page'>
  <section>
    <h4><%= aside[0].headLine %></h4>
    <%= aside[0].snippet %>
  </section>
  <section>
    <h4><%= aside[1].headLine %></h4>
    <%= aside[1].snippet %>
  </section>
</section>
        
<section class='main-front-page'>
  <section>
    <h4><%= main[0].headLine %></h4>
    <%= main[0].snippet %>
  </section>
  <section>
    <h4><%= main[1].headLine %></h4>
    <%= main[1].snippet %>
  </section>
  <section>
    <h4><%= main[2].headLine %></h4>
    <%= main[2].snippet %>
  </section>
</section>
        
<section class='opinion-front-page'>
  <h4>The Opinion Pages</h4>
  <section>
    <h4><%= opinion[0].headLine %></h4>
    <%= opinion[0].snippet %>
  </section>
  <section>
    <h4><%= opinion[1].headLine %></h4>
    <%= opinion[1].snippet %>
  </section>
</section>
    
<section class='travel-front-page'>
  <h4>TRAVEL</h4>
  <section>
    <h4><%= travel[0].headLine %></h4>
    <%= travel[0].snippet %>
  </section>
  <section>
    <h4><%= travel[1].headLine %></h4>
    <%= travel[1].snippet %>
  </section>
</section>