<header class="main-header">
  CAPTECH.IO NEWS
  <% var days = ['SUNDAY','MONDAY','TUESDAY','WEDNESDAY','THURSDAY','FRIDAY','SATURDAY'];
    var months = ['JANUARY','FEBRUARY','MARCH','APRIL','MAY','JUNE','JULY','AUGUST','SEPTEMBER','OCTOBER','NOVEMBER','DECEMBER'];
    var currentTime = new Date();
    var month = currentTime.getMonth();
    var day = currentTime.getDay();
    var year = currentTime.getFullYear();
    var today = days[day] + ", " + months[month] + " " + day + ", " + year; %>
  <%= today %>
</header>