/*******************/
/* ALL SITE STYLES */
/*******************/

body{
  width: 960px;
  font-family: Arvo;
}

body a{
  text-decoration: none;
  color: #333333;
}

body a:hover{
  color: #A7CAE8;
}

body ul{
  list-style-type: none;
  padding: : none;
  margin: none;
}

body li{
  padding-right: 3em;
  display: inline;
}

/**********/
/* HEADER */
/**********/

.site-nav{
  font: normal 9pt Arvo; 
  color: #333333;
}

.main-title{
  font: bold 36pt Arvo;
  color: #333333;
}

.main-date{
  font: normal 12pt Arvo;
  color: #333333;
}

.section-nav{
  font: normal 12pt Arvo;
  color: #333333;
}

.section-nav li.active{
  font: bold 14pt Arvo;
  color: #333333;
}

/*************/
/* HOME PAGE */
/*************/

.banner-ad{
  font: bold italic 18pt Arvo;
  color: #333333;
  background-color: #D5D5D5;
}

.banner-ad a{
  font: normal 9pt Arvo;
}

.aside-front-page h4{
  font: bold italic 18pt Arvo;
  color: #333333;
}

p.aside-front-page{
  font: normal 13pt Arvo;
  color: #333333;
}

.main-front-page h4:first-child{
  font-style: italic;
  font-size: 18pt;
  font-family: Arvo;
  color: #333333;
}

.main-front-page h4{
  font: bold italic 18pt Arvo;
  color: #333333;
}

.main-front-page p{
  font: normal 12pt Arvo;
  color: #333333;
}

.opinion-front-page h3{
  font: italic 16pt Arvo;
  color: #333333;
}

.opinion-front-page h4:first-child{
  font: italic 13pt Arvo;
  color: #333333;
}

.opinion-front-page h4{
  font: bold italic 13pt Arvo;
  color: #333333;
}

.opinion-front-page p{
  font: normal 12pt Arvo;
  color: #333333;
}

.travel-front-page h3{
  font: bold 12pt Arvo;
  color: #333333;
}

.travel-front-page h4:first-child{
  font: bold 13pt Arvo;
  color: #333333;
}

.travel-front-page h4{
  font: bold italic 13pt Arvo;
  color: #333333;
}

.travel-front-page p{
  font: normal 12pt Arvo;
  color: #333333;
}

/*************/
/* SECTION PAGE */
/*************/

.section-article h4{
  font: bold italic 26pt Arvo;
  color: #333333;
}

.section-article figcaption{
  font: italic 12pt Arvo;
  color: #333333;
}

.section-article p{
  font: normal 12pt Arvo;
  color: #333333;
}

.related-article h4{
  font: italic 16pt Arvo;
  color: #333333;
}

.related-article p{
  font: normal 12pt Arvo;
  color: #333333;
}