/*******************/
/* ALL SITE STYLES */
/*******************/

body{
  width: 960px;
  font-family: Arvo;
  padding: none;
  margin: none;
  color: #333333;
  position: relative;
}

body a{
  text-decoration: none;
  color: #333333;
}

body li{
  list-style-type: none;
  padding-left: none;
  padding-right: 3em;
  display: inline;
}

hr{
  padding: none;
  margin: none;
}

/**********/
/* HEADER */
/**********/

.site-nav{
  height: 48px;
  width: 960px;
  line-height: 35px;
  font: normal 9pt Arvo; 
  margin-bottom: 10px;
  margin-top: -35px;
  position: fixed;
  background-color: #FFFFFF;
  border-bottom: 1px solid #333333;
}

.site-nav #sectionIcon{
  margin-left: -30px;
}

.site-nav #currentUserIcon{
  padding-right: 15px;
  float: right;
}


.main-title{
  padding-top: 50px;
  text-align: center;
  font: bold 36pt Arvo;
}

.main-date p{
  margin-top: -35px;
  margin-bottom: 20px;
  text-align: center;
  font: normal 12pt Arvo;
}

.section-nav{
  margin-top: -5px;
  margin-bottom: -5px;
  text-align: center;
  font: normal 12pt Arvo;
}

.section-nav a:hover{
  color: #999999;
}

.section-nav li.active{
  font: bold 14pt Arvo;
  color: #333333;
}

/*************/
/* BANNER AD */
/*************/

.banner-ad{
  font: bold italic 14pt Arvo;
  background-color: #D5D5D5;
  width: 960px;
  height: 70px;
  transition: height .5s;
}

.banner-ad #message1{
  text-align: center;
  line-height: 70px;
}

.banner-ad #message2{
  text-align: center;
  margin-left: 30px;
  margin-top: -35px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 2s opacity 1s;
}

.banner-ad:hover{
  height: 105px;
  box-shadow: 0 5px 4px -4px #333333;
}

.banner-ad:hover > #message2{
  visibility: visible;
  opacity: 1;
  transition-delay: .2s;
}

.banner-ad a{
  margin-left: -200px;
  font: normal 8pt Arvo;
  float: right;
  color: #FFFFFF;
  padding-right: 15px;
}

.banner-ad a:hover{
  color: #333333;
}

/*************/
/* HOME PAGE */
/*************/

.aside-front-page{
  width: 188px;
  display: inline;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

#aside-img1{
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 0px;
  height: 188px;
  width: 188px;
  background-color: #333333;
  color: #FFFFFF;
  text-align: center;
  line-height: 188px;
}

#aside-img2{
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 0px;
  height: 100px;
  width: 188px;
  background-color: #333333;
  color: #FFFFFF;
  text-align: center;
  line-height: 100px;
}

.aside-front-page hr{
  margin-bottom: -18px;
}

.aside-front-page h4{
  margin-bottom: 0px;
  font: bold italic 16pt Arvo;
}

.aside-front-page p{
  font: normal 10pt Arvo;
}

.main-front-page{
  width: 376px;
  display: inline;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

#main-img1{
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 0px;
  height: 200px;
  width: 376px;
  background-color: #333333;
  color: #FFFFFF;
  text-align: center;
  line-height: 200px;
}

#main-img2{
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 0px;
  height: 150px;
  width: 376px;
  background-color: #333333;
  color: #FFFFFF;
  text-align: center;
  line-height: 150px;
}

#main-img3{
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 0px;
  height: 150px;
  width: 376px;
  background-color: #333333;
  color: #FFFFFF;
  text-align: center;
  line-height: 150px;
}

.main-front-page h4:first-child{
  font-style: italic;
  font-size: 16pt;
  font-family: Arvo;
}

.main-front-page h4{
  margin-bottom: 0px;
  font: bold italic 16pt Arvo;
}

.main-front-page p{
  font: normal 10pt Arvo;
}

.opinion-front-page{
  width: 376px;
  display: inline;
  float: left;
  margin-top: 10px;
}

#opinion-img1{
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 0px;
  height: 100px;
  width: 178px;
  background-color: #333333;
  color: #FFFFFF;
  text-align: center;
  line-height: 100px;
}

#opinion-img2{
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 0px;
  height: 100px;
  width: 178px;
  background-color: #333333;
  color: #FFFFFF;
  text-align: center;
  line-height: 100px;
}

.opinion-content{
  margin-right: 10px;
  width: 178px;
  display: inline;
  float: left;
}

#travel-img1{
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 0px;
  height: 100px;
  width: 178px;
  background-color: #333333;
  color: #FFFFFF;
  text-align: center;
  line-height: 100px;
}

#travel-img2{
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 0px;
  height: 100px;
  width: 178px;
  background-color: #333333;
  color: #FFFFFF;
  text-align: center;
  line-height: 100px;
}

.opinion-front-page h3{
  text-align: center;
  margin-bottom: -15px;
  font: italic 16pt Arvo;
  color: #333333;
}

.opinion-front-page h4:first-child{
  font: italic 12pt Arvo;
  color: #333333;
}

.opinion-front-page h4{
  margin-bottom: 0px;
  font: bold italic 12pt Arvo;
}

.opinion-front-page p{
  font: normal 10pt Arvo;
}

.travel-front-page{
  width: 376px;
  display: inline;
  float: left;
}

.travel-content{
  margin-right: 10px;
  width: 178px;
  display: inline;
  float: left;
}

.travel-front-page h3{
  margin-top: 10px;
  margin-bottom: -15px;
  font: bold 12pt Arvo;
  overflow-x: hidden;
}

.travel-leader{
  color: #D5D5D5;
}

.travel-front-page h4:first-child{
  font: bold 12pt Arvo;
}

.travel-front-page h4{
  margin-bottom: 0px;
  font: bold italic 12pt Arvo;
}

.travel-front-page p{
  font: normal 10pt Arvo;
}

/****************/
/* SECTION PAGE */
/****************/

.section-article{
  width: 565px;
  display: inline;
  float: left;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #333333;
}

#section-img{
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 0px;
  height: 300px;
  width: 565px;
  background-color: #333333;
  color: #FFFFFF;
  text-align: center;
  line-height: 300px;
}

.section-article h4{
  margin-top: 15px;
  margin-bottom: 0px;
  font: bold italic 20pt Arvo;
  color: #333333;
}

.section-article figcaption{
  font: italic 10pt Arvo;
  color: #333333;
}

.section-article p{
  font: normal 10pt Arvo;
  color: #333333;
}

.related-article{
  width: 371px;
  display: inline;
  float: left;
}

#related-img{
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 0px;
  height: 200px;
  width: 371px;
  background-color: #333333;
  color: #FFFFFF;
  text-align: center;
  line-height: 200px;
}

.related-article h4{
  margin-top: 15px;
  margin-bottom: 0px;
  font: italic 12pt Arvo;
  color: #333333;
}

.related-article figcaption{
  font: italic 10pt Arvo;
  color: #333333;
}

.related-article p{
  font: normal 10pt Arvo;
  color: #333333;
}